@import '../../assets/style/variables'

=img-pseudo ()
  content: ''
  z-index: 0
  display: block
  position: absolute
  @include dashed_bg ()

.header
  color: $black
  display: flex
  align-items: center
  height: 67px
  &__menu
    max-width: 200px
    &_item
      color: $black
      @include medium_16 ()
      &:not(:first-child)
        margin-left: 35px
  
  &__logo
    display: block
    text-align: center
    @include extra_24 ()

  &__buttons
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: auto
    max-width: 80px
    
.header-sale-section
  background: $darkwhite
  &__title
    width: 90%
    margin-top: 30px
    @include bold_32 ()

  &__img
    position: relative
    display: inline-block
    img
      position: relative
      z-index: 1
    &::before
      width: 178px
      height: 135px
      bottom: 0
      left: -30px
      +img-pseudo ()
    &::after
      width: 232px
      height: 176px
      top: 0
      right: -30px
      +img-pseudo ()
      

