@import './variables'


.product-item-descr
  padding: 70px
  &__title
    margin-bottom: 30px
    @include bold_32 ()
  &__text
    max-width: 370px
    margin-bottom: 50px
    @include normal_16 ()
  &__subtitle
    margin-bottom: 25px
    @include medium_18 ()

